.skillContainer {
  position: relative;
  padding: 0px 8cm;
}

.flexSkill {
  display: flex;
  align-items: center;
  width: 200px;
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
  height: 180px;
  position: absolute;
  top: -8%;
  left: -0.5cm;
  z-index: 2;

  &_span {
    border: none;
    border-top: 1px solid #000;
    margin: 0;
    height: 100%;
  }
  &_para {
    background-color: #333333;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    height: 230px;
    font-weight: bold;
  }
}

.iconsContainer {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 2px;
  margin-bottom: 5pc;

  .para {
    background-color: rgba(20, 20, 20, 0.7);
    padding: 30px 5px 0px 5px;
    width: 350px;
    position: relative;

    animation: scroll 15s linear infinite;

    &_span {
      display: block;
      background-color: orange;
      height: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &_right {
      position: absolute;
      right: 5%;
      bottom: 45%;
      background-color: orange;
      display: block;
      padding: 5px;
      border-radius: 5px;
      font-weight: bold;
    }
    &_icons {
      font-size: 80px;
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.flexLove {
  display: flex;
  align-items: center;
  width: 200px;
  writing-mode: vertical-lr;
  transform: scale(1, 1);
  height: 150px;
  position: absolute;
  bottom: 30%;
  right: -0.5cm;
  z-index: 3;

  &_span {
    border: none;
    border-top: 1px solid #000;
    margin: 0;
    height: 100%;
  }
  &_para {
    background-color: #333333;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    height: 450px;
    font-weight: bold;
  }
}

.hobbyContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding: 0;
  width: 100%;
  margin-bottom: 12pc;
  text-align: center;

  p {
    background-color: rgba(20, 20, 20);
    font-size: 30px;

    padding: 40px 20px;
    border-radius: 10px;
  }

  &_icons {
    color: orange;
    font-size: 80px;
  }
}

@media screen and (max-width: 768px) {
  .skillContainer {
    padding: 0px 30px;
    margin-bottom: 5pc;
  }

  .flexSkill {
    display: grid;
    grid-template-columns: auto auto auto;
    writing-mode: horizontal-tb;
    transform: scale(1, 1);
    position: static;
    margin: 0 auto;
    height: auto;

    &_span {
      width: 50px;
      height: 15px;
    }
    &_para {
      padding: 5px 5px;
      height: 15px;
      width: 100px;
    }
  }

  .iconsContainer {
    width: 100%;
    height: auto;
    overflow: visible;
    position: static;
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    margin-bottom: 3pc;

    .para {
      background-color: rgba(20, 20, 20, 0.7);
      padding: 30px 5px 10px 5px;
      width: 100%;
      position: relative;
      animation: none;
      margin: 0;
    }
  }

  .flexLove {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    writing-mode: horizontal-tb;
    transform: scale(1, 1);
    position: static;
    margin: 0 auto;
    height: auto;

    &_span {
      height: 15px;
      width: 50px;
    }
    &_para {
      height: 15px;
      width: 100px;
    }
  }

  .hobbyContainer {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
  }
}
